<div class="card-panel shadow p-5 rounded-2 mb-2" id="<%= dom_id job %>">
  <h4> <strong><%= job.name %></strong></h4>
  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency( job.price ) %>
  </p>
  <p>
    <strong>Datetime:</strong>
    <%= job.datetime.strftime( "%D" ) %>
  </p>
</div>
