<!DOCTYPE html>
<html>
  <head>
    <title>Scaffoldingresources</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="text-bg-dark p-5">
      <div class="container">
        <h1>Jobs Listing Near You</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
